@import "./../../../styles/scss/theme/utils.scss";
.cust-card {
  border-radius: 0;
}

.cust-card-body {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  padding: 1.25rem;
}

.htmlContent {
  height: 100%;
  width: 100%;
}

.centered {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.purple {
  color: #fff;
  background-color: #939;
}
