@import "./../../../styles/scss/theme/utils.scss";
.cust-card {
  border-radius: 0;
  padding: 1.25rem;
  overflow: hidden;
}

.cust-card-body {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  word-wrap: anywhere;
}
